<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            width: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
        }

        .button-container {
            text-align: center;
        }

        .button-container button {
            padding: 8px 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            text-decoration: none;
            border-radius: 4px;
        }

        .button-container button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <button><a href="/admin/add">Add product</a></button>
    <h1>All Products</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Size</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item) => { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><img src="<%= item.image%>" alt="<%=item.image%>"></td>
                    <td>$<%= item.price %></td>
                    <td><%= item.size %></td>
                    <td class="button-container"><button><a href="/admin/edit/<%=item._id%>">Edit</a></button></td>
                    <td class="button-container"><button><a href="/admin/delete/<%=item._id%>">Delete</a></button></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
